extends layout
block content
  h1= title
  - let planes = [{planeType:"Charted Flight", planePrice: 1000000, planeColor:"Red"},{planeType:"Business Plane", planePrice: 500000, planeColor:"Green"},{planeType:"Economy Plane", planePrice: 3000000, planeColor:"Grey"}]
  div(class="container-fluid mt-3")
  div(class="row")
    each van,index in planes
        div(class="col-sm-4") #{van.vanType} - #{van.planePrice} - #{van.planeColor}
    